@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 18px; // change to whatever

  @include breakpoint($medium) {
    font-size: 20px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 22px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 24px; // change to whatever
    max-width: 1440px;
  }
  .author__bio {
    margin: 0;
    font-size: 0.9em;
    font-style: italic;
  
    @include breakpoint($large) {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  
}